/* gridStyle.css */

.ag-input-field-input{
    margin:5px;
    border: 1px solid #FFFFFF26;
}

.row-ev-coin-in {
    background-color: #57c284;
    font-weight: bold;
}

.row-ev-bnk-in {
    background-color: #57c284;
    font-weight: bold;
}

.row-ev-pax-payment {
    background-color: #57c284;
    font-weight: bold;
}

.row-ev-ing-payment {
    background-color: #57c284;
    font-weight: bold;
}

.row-ev-card-ciclo-ok-eta {
    background-color: #57c284;
    font-weight: bold;
}

.row-ev-ticket {
    background-color: #17a2b8;
    font-weight: bold;
}

.row-ev-dev-sernum {
    background-color: #17a2b8;
    font-weight: bold;
}

.row-ev-dev-sernumchanged {
    background-color: #17a2b8;
    font-weight: bold;
}

.row-ev-accensione {
    background-color: #17a2b8;
    font-weight: bold;
}

.row-ev-product-pressed {
    background-color: #17a2b8;
    font-weight: bold;
}

.row-ev-wdogfired {
    background-color: #17a2b8;
    font-weight: bold;
}

.row-ev-prod-venduto {
    background-color: #ffc107;
    font-weight: bold;
}

.row-ev-vendsession-end {
    background-color: #ffc107;
    font-weight: bold;
}

.row-ev-bnk-escrow {
    background-color: #ffc107;
    font-weight: bold;
}

.row-ev-v2-samebnk {
    background-color: #ffc107;
    font-weight: bold;
}

.row-ev-usbl-noise {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-usbl-nocom {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-usbl-nocomlong {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-usbdev-detach {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-adimac-alarm {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-prod-non-venduto {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-acc-restart {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-nocomm {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-card-nocomm {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-bnk-nocomm {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-bnk-jammed {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-cac-nocomm {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-finger-nocomm {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-c5-nocomm {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-mot-nocomm {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-hop-nocomm {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-locker-nocomm {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-gv-nocomm {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-prn-nocomm {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-frigo-nocomm {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-sanden-nocomm {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-ifsanden-nocomm {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-adimac-nocomm {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-sileaff-nocomm {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-pwm-nocomm {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-serled-nocomm {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-prel-nocomm {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-cs-nocomm {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-az-nocomm {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-qrb-nocomm {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-ing-nocomm {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-pax-error {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-credit-lost {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-erog-lento {
    background-color: #dc3545;
    font-weight: bold;
}