# Node.js dependencies  
node_modules/
npm-debug.log*  
yarn-debug.log*  
yarn-error.log*  

# Build e output di Next.js  
.next/  
.out/  

# Test e coverage  
/coverage  

# File di configurazione e cache di Yarn  
/.pnp  
.pnp.js  
.yarn/install-state.gz  

# File temporanei e di debug  
.DS_Store  
.idea/  
*.tsbuildinfo  
next-env.d.ts  

# File sensibili e chiavi  
*.pem  
/private-files  

# Cartelle obsolete e vecchie versioni  
/old  
/obso

# Configurazioni di servizi esterni  
.vercel  

# File specifici del progetto  
README.md  
appunti.txt

test
