/* gridStyle.css */

.compact {
    --ag-grid-size: 4px;
    --ag-list-item-height: 30px;
    --ag-font-size: 12px;
}

/*.ag-theme-quartz-dark.compact .ag-row {*/
/*    height: var(--ag-list-item-height) !important;*/
/*    font-size: var(--ag-font-size) !important;*/
/*}*/

/*.ag-theme-quartz-dark.compact .ag-header-cell-text {*/
/*    font-size: 15px !important;*/
/*}*/

/*.ag-theme-quartz-dark.compact .ag-header-group-cell{*/
/*    font-size: 20px !important;*/
/*}*/

.row-ev-coin-in {
    background-color: #57c284;
    font-weight: bold;
}

.row-ev-bnk-in {
    background-color: #57c284;
    font-weight: bold;
}

.row-ev-pax-payment {
    background-color: #57c284;
    font-weight: bold;
}

.row-ev-ing-payment {
    background-color: #57c284;
    font-weight: bold;
}

.row-ev-card-ciclo-ok-eta {
    background-color: #57c284;
    font-weight: bold;
}

.row-ev-ticket {
    background-color: #17a2b8;
    font-weight: bold;
}

.row-ev-dev-sernum {
    background-color: #17a2b8;
    font-weight: bold;
}

.row-ev-dev-sernumchanged {
    background-color: #17a2b8;
    font-weight: bold;
}

/* Aggiungi altre classi per tutti gli eventi definiti in eventsColors.ts */

.row-ev-prod-non-venduto {
    background-color: #dc3545;
    font-weight: bold;
}

.row-ev-pax-error {
    background-color: #dc3545;
    font-weight: bold;
}