
.ag-header-cell-text {
    font-size: 12px !important;
}

.ag-input-field-input.ag-input-field-input {
    font-size: 12px !important;
}

.ag-header-cell.ag-floating-filter{
    padding: 0px !important;
}